{% set promoImg = "/images/section/promo/promo_centers.jpg" %}
{% set promoMobImg = "/images/section/promo/promo_centers_mobile.jpg" %}
{% set sectionTitleStrong = "Центры" %}
{% set sectionTitleLight = "лечения" %}
{% set description = "Адреса региональных центров головной боли и список ведущих специалистов." %}

{% set callToActionIcon = "/images/call-to-action-icon/icon-5.png" %}
{% set callToActionTitle = "все центры" %}
{% set callToActionDescr = "И ведущие специалисты" %}


{% include "pages/index/_section-slide.njk" %}


