{% set promoImg = "/images/section/promo/promo_factors.jpg" %}
{% set promoMobImg = "/images/section/promo/promo_factors_mobile.jpg" %}
{% set sectionTitleStrong = "Факторы, влияющие" %}
{% set sectionTitleLight = "на возникновение мигрени" %}
{% set description = "Краткая информация о каждом факторе, влияющем на вероятность появления мигрени: алкоголь, возраст, женские дни, физическая нагрузка, смена погоды и т.п." %}

{% set callToActionIcon = "/images/call-to-action-icon/icon-2.png" %}
{% set callToActionTitle = "изучить факторы" %}
{% set callToActionDescr = "И узнать причины мигрени" %}


{% include "pages/index/_section-slide.njk" %}


