{% set promoImg = "/images/section/promo/promo_test.jpg" %}
{% set promoMobImg = "/images/section/promo/promo_test_mobile.jpg" %}
{% set sectionTitleStrong = "Каждый из нас когда-либо" %}
{% set sectionTitleLight = "испытывал головную боль" %}
{% set description = "Но мало кто задумывался, что под этим понятием скрывается более пятидесяти диагнозов, от которых зависит правильное лечение. Наиболее частая, так называемая «головная боль напряжения»..." %}

{% set callToActionIcon = "/images/call-to-action-icon/icon-1.png" %}
{% set callToActionTitle = "пройти тест" %}
{% set callToActionDescr = "И узнать вероятность мигрени" %}

{% include "pages/index/_section-slide.njk" %}


