<div class="background">
    <div class="background__block background__block--white"></div>
    <div class="background__block background__block--green"></div>
    <div class="background__block background__block--blue"></div>
    <div class="decor-element decor-element--left-line"></div>
    <div class="decor-element decor-element--right-line"></div>
</div>