<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="#test">
                <div class="logo">
                    <div class="logo__img"><img src="./images/logo_img.png" alt="logo"></div>
                    <div class="logo__title">GolovnoiBoliNet<span>.RU</span></div>
                    <div class="logo__descr">Все о головной боли</div>
                </div>
            </a>
        </div>
        <div class="header__menu">
            <div class="burger">
                <div class="burger__line burger__line--top"></div>
                <div class="burger__line burger__line--middle"></div>
                <div class="burger__line burger__line--bottom"></div>
            </div>
            <ul class="menu" id="top-menu">
                <li class="menu__logo" data-menuanchor="test">
                    <a href="#test">
                        <img src="/images/logo_img.png" alt="logo">
                    </a>
                </li>
                <li class="menu__item" data-menuanchor="articles"><a href="#articles">Статьи</a></li>
                <li class="menu__item" data-menuanchor="faq"><a href="#faq">Вопросы и ответы</a></li>
                <li class="menu__item" data-menuanchor="centers"><a href="#centers">Центры лечения</a></li>
                <li class="menu__item menu__item--selected"><a href="http://www.akrikhin.ru/product/catalog/detail.php?ID=257">Специалистам</a></li>
            </ul>
        </div>
    </div>
</header>