<div class="pagination">
    <div class="pagination__counter">0/0</div>
    <ul class="pagination__lines" id="pagination">
        <li class="pagination__line active" data-menuanchor="test"><a href="#test"></a></li>
        <li class="pagination__line" data-menuanchor="factors"><a href="#factors"></a></li>
        <li class="pagination__line" data-menuanchor="articles"><a href="#articles"></a></li>
        <li class="pagination__line" data-menuanchor="faq"><a href="#faq"></a></li>
        <li class="pagination__line" data-menuanchor="centers"><a href="#centers"></a></li>
        <li class="pagination__line" data-menuanchor="info-share"><a href="#info-share"></a></li>
    </ul>
</div>