{% set promoImg = "/images/section/promo/promo_faq.jpg" %}
{% set promoMobImg = "/images/section/promo/promo_faq_mobile.jpg" %}
{% set sectionTitleStrong = "Ответы" %}
{% set sectionTitleLight = "специалистов" %}
{% set description = "Специалисты отвечают на ваши вопросы." %}

{% set callToActionIcon = "/images/call-to-action-icon/icon-4.png" %}
{% set callToActionTitle = "все ответы" %}
{% set callToActionDescr = "Доверьтесь специалистам" %}


{% include "pages/index/_section-slide.njk" %}


