{% set promoImg = false %}
{% set notShowCallToAction = true %}

{% set sectionTitleStrong = "Ответы" %}
{% set sectionTitleLight = "специалистов" %}
{% set description = "Специалисты отвечают на ваши вопросы." %}


{% extends "pages/index/_section-slide.njk" %}

{% block slideContent %}
    <div class="scrollable-block">
        <div class="scrollable-block__content">
            <div class="question-block js-faq-links">
                <ul class="line-list">
                    <li class="line-list__item"><a href="#faq-1">Каковы основные симптомы мигрени?</a></li>
                    <li class="line-list__item"><a href="#faq-2">Как отличить мигрень от простых головных болей?</a></li>
                    <li class="line-list__item"><a href="#faq-3">Как бороться с мигренью?</a></li>
                    <li class="line-list__item"><a href="#faq-4">Какие существуют современные препараты для лечения мигрени?</a></li>
                    <li class="line-list__item"><a href="#faq-5">Существуют ли немедикаментозные способы борьбы с мигренью?</a></li>
                    <li class="line-list__item"><a href="#faq-6">Как питание влияет на частоту и силу головных болей?</a></li>
                    <li class="line-list__item"><a href="#faq-7">Чем могут быть вызваны головные боли у беременных?</a></li>
                    <li class="line-list__item"><a href="#faq-8">Какие специфические признаки характерны для заболеваний головного мозга?</a></li>
                    <li class="line-list__item"><a href="#faq-9">Что делать самостоятельно до приезда врача?</a></li>
                    <li class="line-list__item"><a href="#faq-10">Какие препараты особенно эффективны при мигрени?</a></li>
                    <li class="line-list__item"><a href="#faq-11">Какие осложнения возможны у мигрени?</a></li>
                    <li class="line-list__item"><a href="#faq-12">Какие анализы нужно сделать для постановки диагноза?</a></li>
                    <li class="line-list__item"><a href="#faq-13">При каких симптомах наиболее велик риск развития осложнений?</a></li>
                    <li class="line-list__item"><a href="#faq-14">Можно ли вылечить мигрень?</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


