
.icon-vk:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */