{% extends "layouts/layout.njk" %}

{% block content %}
    {% include 'pages/index/section-test.njk' %}
    {% include 'pages/index/section-factor.njk' %}
    {% include 'pages/index/section-articles.njk' %}
    {% include 'pages/index/section-faq.njk' %}
    {% include 'pages/index/section-centers.njk' %}
    {% include 'pages/index/section-info-share.njk' %}
{% endblock %}