{% set promoImg = false %}
{% set notShowCallToAction = true %}

{% set sectionTitleStrong = false %}
{% set sectionTitleLight = false %}
{% set description = false %}


{% extends "pages/index/_section-slide.njk" %}

{% block headerSection %}
    <div data-article-id="article-1">Головная боль<br>мышечного<br>напряжения<sup><a style="text-decoration: blink;">*</a></sup></div>
    <div data-article-id="article-2">Мигрень</div>
    <div data-article-id="article-3">Ликвородинамическая<br>головная боль</div>
    <div data-article-id="article-4">Основные причины<br>головных болей</div>
    <div data-article-id="article-5">Галлюцинаторная<br>головная боль<br>или психалгия<sup><a style="text-decoration: blink;">*</a></sup></div>
    <div data-article-id="article-6">Сосудистая головная<br>боль</div>
    <div data-article-id="article-7">Рекомендации <br>по питанию для<br>пациентов <br>с мигренью</div>
    <div data-article-id="article-8">Народные <br>методы борьбы <br>с головной<br>болью</div>
    <div data-article-id="article-9">Профилактические<br>средства</div>
    <div data-article-id="article-10">Медикаментозные<br>методы лечения<br>боли<sup><a style="text-decoration: blink;">*</a></sup></div>
    <div data-article-id="article-11">Физиотерапевтические<br>методы лечения<br>головной боли</div>
{% endblock %}

{% block slideContent %}
    <div class="scrollable-block">
        <div class="scrollable-block__content">
            <div class="headache__text" data-article-id="article-1">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-1.jpg')"></div>
                </div>
                <p>
                Студентам медицинских ВУЗов преподаватели часто напоминают о том, что опытный врач может поставить
                диагноз за то время, пока пациент идет от двери до стула. Другими словами, наблюдая за поведением
                человека и оценивая его внешний вид, можно с большой долей вероятности предположить, какое заболевание
                беспокоит больного. Отчасти это правда, особенно если дело касается головной боли. Диагноз в данном
                случае чаще всего можно поставить без проведения анализов и тестов – на основании осмотра пациента и
                сбора анамнеза.
                </p>
                <h3>Что нужно делать при общении с врачом?</h3>
                <p>
                Важно как можно подробнее и точнее отвечать на его вопросы. Вспоминайте мельчайшие детали: когда был
                первый приступ, что его спровоцировало, какие симптомы еще беспокоили, каким образом удалось справиться
                с болью. Некоторые пациенты ведут так называемый дневник головной боли, где они отмечают, какой продукт
                стал причиной или в какое время суток и при каких погодных условиях развился приступ головной боли.
                Важно также установить, с какой периодичностью и как часто возникают болевые ощущения, усиливаются ли
                они от физических нагрузок.
                </p>
                <h3>Что это такое?</h3>
                <p>
                Как правило, головная боль напряжения, которую нужно дифференцировать от мигрени, начинает беспокоить в
                вечернее время, в конце рабочего дня. Боль может быть различной интенсивности – от слабой до сильной,
                опоясывающей. Некоторые больные говорят о том, что они чувствуют как бы обруч или каску, сдавливающие
                голову. Некоторые замечают, что приступ боли начинается после эмоционального напряжения, волнения или
                стресса. Тошнота и рвота редко сопровождают ГБН, как при мигрени, но усиление болевых ощущений при
                возникновении внешних раздражителей для нее характерно.
                </p>
                <p>
                Спровоцировать приступ может неудобная поза или напряжение мышц шеи, физическая нагрузка никак не влияет
                на интенсивность боли. Также нет никаких доказательств того, что ГБН может наследоваться, нет прямой
                связи между анамнезами родственников.
                </p>
                <p>
                Как правило, облегчение наступает после релаксации или сна, улучшение самочувствия возможно после
                перехода к более здоровому образу жизни и исключения причинных факторов.
                </p>
                <h3>Классификация</h3>
                <p>
                Головная боль напряжения специалистами классифицируется в зависимости от ее характеристик:
                </p>
                <ul>
                    <li>нечастая эпизодическая головная боль – может сопровождаться или не сопровождаться напряжением
                        перикраниальных мышц;</li>
                    <li>частая эпизодическая головная боль – также разделяется на 2 типа в зависимости от напряжения
                        перикраниальных мышц;</li>
                    <li>хроническая головная боль – сочетается с напряжением перикраниальных мышц или не сочетается с ним;</li>
                    <li>возможная головная боль – эпизодическая частая или нечастая и хроническая.</li>
                </ul>
                <h3>Провоцирующие факторы</h3>
                <p>
                Важно понимать, что головная боль напряжения напрямую связана с неким событием, предшествующим приступу.
                Среди наиболее часто называемых специалистами факторов можно назвать следующие:
                </p>
                <ul>
                    <li>эмоциональное напряжение, волнение, стресс;</li>
                    <li>долгое время сохраняющееся тревожное состояние;</li>
                    <li>ситуация, когда человек вынужден часто подавлять эмоции, в частности негативные;</li>
                    <li>нарастающая депрессия;</li>
                    <li>психологическое давление, например, вынужденное, остро переживаемое одиночество или
                        повышенные
                    </li>
                    <li>требования в отношении достижения целей со стороны других или самого себя.</li>
                </ul>
                <h3>Как устанавливают диагноз головной боли напряжения?</h3>
                <p>Диагноз должен быть установлен в соответствии с принятой классификацией.</p>
                <p>
                Например, нечастая эпизодическая ГБН характеризуется тем, что приступы возникают редко, до 10-12 раз в
                год (примерно 1 раз в месяц). Продолжительность приступа от 30 минут до 7 суток. Характеристика боли:
                двухсторонняя сжимающая или давящая, не усиливающаяся при физической нагрузке.
                </p>
                <p>Диагноз хронической ГБН ставится, если приступы возникают 15 раз в месяц, интенсивная боль носит
                    постоянный характер и сопровождается дополнительными симптомами: рвотой или тошнотой, свето- или
                    фонобоязнью.</p>
                <h3>Лечение</h3>
                <p>Лечение головной боли напряжения зависит от интенсивности и выраженности болевых ощущений. Важно
                    понимать и врачу, и пациенту, что причины заболевания – смешанные: нарушение баланса
                    боль-модулирующей
                    системы приводит к тому, что человек не способен правильно оценить свое состояние.</p>

                <p>Так как действует комплекс причинных факторов, лечение должно быть комплексным, включающим в себя и
                    нефармакологические, и фармакологические методы. Большинство нефармакологических методов ранее
                    считались
                    нетрадиционными, большое значение имеют релаксация и полное доверие между больным и врачом.</p>

                <p>Среди фармакологических средств, назначаемых при головной боли напряжения, можно выделить несколько
                    групп:</p>
                <ul>
                    <li>триптаны, воздействующие на сосуды головного мозга;</li>
                    <li>нестероидные противовоспалительные препараты;</li>
                    <li>успокоительные, снотворные.</li>
                </ul>
                <p>
                    * ГОЛОВНАЯ БОЛЬ: ПАТОГЕНЕТИЧЕСКИЕ ТИПЫ И ПОДХОДЫ К ПАТОГЕНЕТИЧЕCКОЙ ФАРМАКОТЕРАПИИ Шток В.Н. «РМЖ» №1 от 04.01.1998
                </p>
            </div>
            <div class="headache__text" data-article-id="article-2">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-2.jpg')"></div>
                </div>
                <p>
                    Мигрень является одним из самых распространенных заболеваний на земле. Более 240 млн человек хотя бы раз в год испытывают нестерпимую головную боль, сопровождающуюся тошнотой или рвотой. Характерными признаками также являются усиление болезненных ощущений из-за раздражающих факторов, таких как громкие звуки или яркий свет, а также появление боли после воздействия триггеров, или провоцирующих агентов.
                </p>
                <p>
                    В качестве триггеров принято рассматривать некоторые пищевые продукты, эмоциональное перенапряжение, голод, даже нарушение режима сна и бодрствования. Каждый пациент после определенного анализа сможет назвать, что именно обычно вызывает у него приступ мигрени.
                </p>
                <h4>
                    Что характерно для мигрени и отличает ее от других заболеваний?
                </h4>
                <p>
                    Прежде всего, нужно сказать, что признаки мигрени настолько специфичны, что специалист после обстоятельного разговора, даже не проводя никаких анализов, сможет установить диагноз.
                </p>
                <p>
                    Вот основные:
                </p>
                <ul>
                    <li>боль односторонняя, характер ее – пульсирующая, нестерпимая, может переходить с одной стороны на другую;</li>
                    <li>приступ может развиться в любое время суток;</li>
                    <li>в классическом варианте приступ сопровождается тошнотой и рвотой, боль усиливается при ярком солнечном свете и громких раздражающих звуках;</li>
                    <li>большая часть страдающих мигренью могут заранее предсказать, что у них будет приступ – так называемая аура, или предвестник, может выражаться по-разному (зрительные нарушения, слабость, затруднение речи, рассеянность);</li>
                    <li>в подавляющем большинстве случаев мигренью страдают родственники, родители и дети, есть наследственная предрасположенность.</li>
                </ul>
                <p>
                    Лечение мигрени также специфическое, для этого созданы специальные препараты – триптаны. Триптаны воздействуют на патологически расширенные сосуды, сужают их и уменьшают головную боль.
                </p>
                <h3>
                    Триггеры мигрени
                </h3>
                <p>
                    Триггеры – это факторы, которые провоцируют приступ головной боли, они могут быть как внешними, так и внутренними. Наиболее часто называемыми считаются
                    такие:
                </p>
                <ul>
                    <li>
                        голод/переедание;
                    </li>
                    <li>
                        сильное волнение, эмоциональное напряжение;
                    </li>
                    <li>
                        физическая нагрузка;
                    </li>
                    <li>
                        некоторые продукты питания;
                    </li>
                    <li>
                        нарушение режима сна и бодрствования и т.д.
                    </li>
                </ul>
                <p>
                    Если человек смог определить, какой фактор провоцирует приступ мигрени, он может по возможности исключить его и предупредить прогрессирование болезни.
                </p>
                <h3>
                    Пищевые продукты — триггеры мигрени
                </h3>
                <p>
                    Среди пищевых продуктов, которые относятся к триггерам, можно выделить несколько групп: содержание нитриты, хлорид натрия, глутамат натрия, амин. Для
                    некоторых людей триггером является шоколад, он содержит несколько веществ, которые могут спровоцировать расширение сосудов головного мозга, среди них сахар
                    и какао.
                </p>
                <h3>
                    Как устанавливают диагноз мигрени?
                </h3>
                <p>
                    Диагноз мигрени можно установить, правильно собрав анамнез, дополнительные анализы могут понадобиться только в том случае, если есть подозрение на
                    сочетание нескольких заболеваний, одним из которых является мигрень.
                </p>
                <!-- <h3>
                    Лечение мигрени
                </h3>
                <p>
                    Лечение мигрени, как правило, комбинированное, оно направлено на купирование приступов боли. Специально созданной группой антимигренозных средств являются
                    триптаны, представителем которых является суммамирен. Они оказывают влияние на сосуды головного мозга, сужая их.
                </p> -->
                <h3>
                    Лечение приступов
                </h3>
                <p>
                    Если у человека развился приступ мигрени, необходимо обеспечить ему полный покой: уложить в темной комнате, исключить резкие громкие звуки. Можно сделать
                    холодный компресс на область, где локализуется боль. Безусловно, необходимо принять анальгетик, нестероидные противовоспалительные средства не всегда
                    эффективны, поэтому лучше принять специализированные противомигренозные средства.
                </p>
                <h3>
                    Профилактика мигрени
                </h3>
                <p>
                    Профилактическими мероприятиями можно считать исключение вредных привычек, ведение здорового образа жизни и исключение триггеров.
                </p>
            </div>
            <div class="headache__text" data-article-id="article-3">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-3.jpg')"></div>
                </div>
                <br>
                <br>
                <p>
                    Ликвор или спинномозговая жидкость циркулирует внутри полостей, находящихся в головном и спинном мозге. Если нет преград и не нарушен его отток и
                    всасывание, человек чувствует себя хорошо. Когда же происходят изменения в анатомии или нарушения в функционировании органов и систем, сосуды, нервные
                    окончания, оболочки перестают выполнять свои функции. Это может привести к появлению головной боли.
                </p>
                <p>
                    Различают несколько видов ликвородинамической головной боли.
                </p>
                <h4>
                    Гипертензионная
                </h4>
                <p>
                    При избыточном накоплении ликвора в полостях он оказывает определенное давление, чем и вызываются болевые ощущения.
                </p>
                <h4>
                    Гипотензионная
                </h4>
                <p>
                    Недостаток влаги или нарушение кровообращения головного мозга может привести к тому, что количество жидкости уменьшается. В этом случае человек тоже будет
                    ощущать боль, но другого характера.
                </p>
                <h4>
                    Дистензионная
                </h4>
                <p>
                    Это сложное заболевание, установить причину которого можно только после наблюдения в динамике. Человек испытывает болевые ощущения и при повышении, и при
                    понижении внутричерепного давления.
                </p>
            </div>
            <div class="headache__text" data-article-id="article-4">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-4.jpg')"></div>
                </div>
                <br>
                <br>
                <p>
                    Причинами головных болей могут быть различные факторы.
                </p>
                <p>
                    Например, при инфекционных заболеваниях, таких как фронтит, гайморит, болевые ощущения различной интенсивности могут быть одним из симптомов заболевания.
                    Воспаление головных оболочек мозга также сопровождается нестерпимой болью, а также другими симптомами, как то потеря сознания или нарушение координации
                    движений.
                </p>
                <p>
                    Большая группа пациентов испытывают головную боль из-за изменения в работе сосудистой системы. Расширенные кровеносные сосуды приводят к тому, что человек
                    чувствует нестерпимую боль в определенной части головы.
                </p>
                <p>
                    При изменении внутричерепного давления, которое оказывает на оболочки головного мозга ликвор, пациенты могут описывать головную боль как давящую,
                    усиливающуюся при изменении положения тела и т.д.
                </p>
                <p>
                    Еще одной категорией заболеваний, которые могут сопровождаться головной болью, являются опухоли и новообразования. Как правило, при осмотре врач выявит и
                    другие нарушения, указывающие на природу боли.
                </p>
                <p>
                    Специалисты называют психогенные факторы, которые могут спровоцировать болевой приступ. Наиболее распространенным заболеванием этой категории является
                    головная боль напряжения. Для нее характерны опоясывающая, сдавливающая боль без точечной локализации, появление признаков ближе к вечеру после
                    напряженного рабочего дня и наличие таких причинных факторов, как переутомляемость, бессонница, хронический стресс и т.д.
                </p>
            </div>
            <div class="headache__text" data-article-id="article-5">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-5.jpg')"></div>
                </div>
                <p>
                    В небольшом проценте случаев выявить каких-то объективных причин появления головной боли специалисту не удается. Тогда говорят о так называемой
                    галлюцинаторной или фантомной боли. Человек – сложно устроенное существо, в котором психические и физические процессы переплетены. Поэтому при повышенной
                    внушаемости, скрытой депрессии, неврозе или даже нарушении психики одним из симптомов может быть головная боль.
                </p>
                <p>
                    Как врач может отличить галлюцинаторную боль от сосудистой или мигрени? Прежде всего, правильно собранный анамнез поможет найти взаимосвязь между внешними
                    и внутренними факторами, которые стали первопричиной. Во-вторых, специалист обязательно обратит внимание на нарушение психических процессов. В-третьих, при
                    галлюцинациях пациент затрудняется указать точную локализацию боли, она будет все время изменяться.
                </p>
                <br>
                <p class=""><span id="fn_1">* ГОЛОВНАЯ БОЛЬ: ПАТОГЕНЕТИЧЕСКИЕ ТИПЫ И ПОДХОДЫ К ПАТОГЕНЕТИЧЕCКОЙ ФАРМАКОТЕРАПИИ. Шток В.Н. «РМЖ» №1 от 04.01.1998</span></p>
            </div>
            <div class="headache__text" data-article-id="article-6">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-6.jpg')"></div>
                </div>
                <br>
                <br>
                <p>
                    Сосудистая головная боль появляется тогда, когда нарушается система регуляции тонуса сосудов головного мозга. При пониженном артериальном давлении человек
                    чувствует, как у него «бьется пульс в висках», это чувство возникает после резкого повышения давления из-за испуга, волнения, напряжения. При повышенном
                    давлении боль и тяжесть ощущаются чаще в затылочной области, человек также может жаловать на «мушки» перед глазами, головокружение, тошноту. Как правило,
                    это происходит при резком сужении сосудов.
                </p>
                <p>
                    Боль может появляться и при затруднении оттока крови из вен головного мозга. Ее характеристики несколько отличаются: она тупая, распирающая, усиливающаяся
                    под воздействием каких-то внешних факторов, которые еще более затрудняют движение крови по сосудам.
                </p>
                <p>
                    Кстати, мигрень также можно причислить к категории сосудистой головной боли, ведь она появляется при резком расширении артерий и вен, расположенных вокруг
                    головного мозга. Хотя причину этого явления пока выявить не удалось, тот факт, что она связана с состоянием кровеносных сосудов, нельзя отрицать. Триптаны воздействуют именно на рецепторы в сосудистых стенках, и они купируют приступ мигрени.
                </p>
            </div>
            <div class="headache__text" data-article-id="article-7">
                    <div class="headache__photo-mobile">
                        <div class="section__ill" style="background-image: url('/images/articles/articles-7.jpg')"></div>
                    </div>
                    <h3>Пищевые продукты –
                        провокаторы мигрени</h3>
                    <br>
                    <p>Существует много пищевых
                        продуктов, провоцирующих мигрень.
                        Вызывать головную боль могут не только
                        отдельные пищевые продукты, но и диета.
                        Ограничение пищи, нерегулярный ее прием
                        или питание в сухомятку могут привести
                        к очередному приступу.</p>
                    <p> Среди рекомендаций по
                        изменению образа жизни для предупреждения
                        мигрени часто встречаются следующие:</p>
                    <ol>
                        <li><p>Значительное
                                ограничение или полное исключение
                                продуктов, содержащих тирамин (сыр,
                                шоколад, какао, кофе, чай, маринады,
                                цитрусовые, орехи, яйца, помидоры)</p>
                        </li><li><p>Поддержание
                                адекватного режима питания (исключить
                                длительные перерывы в приеме пищи)</p>
                        </li><li><p>Ограничение потребления
                                алкоголя, особенно красного вина<sup><a style="text-decoration: blink;">*</a></sup></p>
                        </li></ol>
                    <h3>Тирамин</h3>
                    <p>Полагают , что амины
                        (тирамин) усиливают или провоцируют
                        головную боль, вызывая первичный
                        сосудистый спазм, а потом патологическое
                        расширение сосудов. Чем больше строк
                        хранения высоко протеиновой пищи, тем
                        больше тирамина они содержат. Количество
                        тирамина в сырах существенно отличается
                        и зависит от процесса приготовления,
                        брожения, хранения, ухудшения качества
                        или даже наличия бактерий. Его находят
                        в красном вине, алкогольных напитках и
                        в обработанных сортах мяса.</p>
                    <h3>Алкоголь</h3>
                    <p>при употреблении
                        алкоголя возрастает кровообращение
                        головного мозга. Существует мнение, что
                        головные боли вызываются некачественными
                        алкогольными продуктами. Красное вино,
                        пиво, виски и шампанское являются
                        общепризнанными провокаторами головной
                        боли.</p>
                    <h3>Пищевые добавки</h3>
                    <p>Головные боли могут вызывать пищевые добавки,
                        широко используемые промышленностью:
                        усилитель вкуса глутамат натрия,
                        заменитель сахара аспартам, консервант
                        нитрат натрия — ищите эти и близкие к
                        ним вещества в составе, который всегда
                        указывают на продуктах. Пищевые добавки,
                        нитраты и нитриты уменьшают тонус
                        кровеносных сосудов вызывая головные
                        боли. Чтобы избежать пищевых добавок
                        наверняка, откажитесь от готовых
                        продуктов и полуфабрикатов.
                    </p>
                    <h3>Охлажденные продукты</h3>
                    <p>холодная пища, например, мороженое,
                        относятся к провокаторам головных
                        болей. Более вероятно, головная боль
                        появляется с повышением температуры
                        тела после тренировки или жары. Боль,
                        ощущающаяся во лбу, возрастает на
                        протяжении от 25 до 60 секунд и длится от
                        нескольких секунд до двух минут. У  90%
                        страдающих от головных болей, констатируют
                        чувствительность к мороженному или
                        охлажденным продуктам.</p>
                    <p>Мигрень часто связана
                        не только с аминами в продуктах, но и с
                        пищевой аллергией. В исследовании, когда
                        у больных, много лет страдающих от
                        тяжёлых головных болей, исключали
                        продукты, вызывающие аллергию, уже на
                        пятый день диеты 85% пациентов избавлялись
                        от приступов мигрени. Самыми «мигренозными»
                        продуктами были любые блюда с пшеницей
                        (они вызывали боли у 78% пациентов),
                        апельсины (65%), яйца (45%), чай и кофе (по
                        40% каждый), шоколад и молоко (по 37% каждый),
                        говядина (35%), кукуруза, тростниковый
                        сахар и дрожжи (по 33% каждый), грибы (30%)
                        и горох (28%)<sup><a style="text-decoration: blink;" >**</a>.</sup></p>
                    <p>Для того чтобы лучше
                        понимать, какие именно продукты у вас
                        провоцируют мигренозную головную боль,
                        специалисты рекомендуют вести пищевой
                        дневник.</p>
                    <p style="    font-size: 10px;
    margin-left: 20px;
    color: #8F8F8F;">
	<span><sup><a style="text-decoration: blink;" name="sdfootnote1sym">*</a></sup>
	Мигрень. Патогенез, клиника, фармакотерапия:
	руководство для врачей/ Амелин А.В.,
	Игнатов Ю.Д., Скоромец А.А., Соколов А.Ю.-
	Москва «Медпресс-информ», 2011, стр.155</span>
                        <br>
                        <span><sup><a style="text-decoration: blink;" name="sdfootnote2sym">**</a></sup>
	Опасная еда: какие продукты провоцируют
	мигрень/ <a href="http://www.aif.ru/health/food/14158">http://www.aif.ru/health/food/14158</a></span>
                    </p>
            </div>
            <div class="headache__text" data-article-id="article-8">
                    <div class="headache__photo-mobile">
                        <div class="section__ill" style="background-image: url('/images/articles/articles-7.jpg')"></div>
                    </div>
                    <p>
                        Провести диагностику причины головной боли и  назначить подходящее эффективное и безопасное лечение может только врач.
                    </p>
                    <p>
                        Народные методы борьбы с головной болью можно разделить на несколько групп.
                    </p>
                    <h3>
                        Первая – траволечение
                    </h3>
                    <p>
                        Отвары, настои, настойки лекарственных трав народные целители подбирали, наблюдая за тем, как они воздействуют на человека. В процессе наблюдения были
                        выделены некоторые успокаивающие и болеутоляющие средства, которые и сейчас используются для избавления от головной боли.
                    </p>
                    <h3>
                        Вторая - релаксация
                    </h3>
                    <p>
                        Во многих народностях сохранились традиции, по которым людям, страдающим от головной боли, рекомендовался постельный режим, отдых в определенной обстановке
                        и даже создание особых условий в помещении. Сон, расслабление, пребывание в удобной позе в спокойной обстановке при мигрени, например, могут принести
                        облегчение.
                    </p>
                    <h3>
                        Третья – нетрадиционные методы
                    </h3>
                    <p>
                        Иглоукалывние, занятие йогой, ароматерапия, диетотерапия, даже гипноз некоторым людям могут помочь вернуться к нормальной жизни. Безусловно, при периодически возникающих головных болях, особенно интенсивных, качество жизни человека снижается. Если же после курса лечения ему становится легче, стоит применять этот опыт на практике. В особенности эффективными такие методы могут быть при галлюцинаторной головной боли.
                    </p>
            </div>
            <div class="headache__text" data-article-id="article-9">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-9.jpg')"></div>
                </div>
                <br>
                <br>
                <p>
                    В лечении мигрени очень важно учитывать факторы, провоцирующие развитие головной боли (триггеры). И при подборе  эффективной противомигренозной терапии по возможности исключать провокации. Большинство специалистов рекомендуют избегать стресса, бороться с бессонницей, включать в свой рацион продукты, богатые витаминами группы В, А, С, РР, К.
                </p>
                <h3>
                    Профилактика головной боли
                </h3>
                <p>
                    Чтобы предупредить развитие приступа головной боли, прежде всего, нужно исключить причинные факторы. К ним относятся курение, употребление
                    алкоголесодержащих напитков, продуктов питания, которые являются триггерами (копченого мяса, рыбы, шоколада и др.).
                </p>
                <p>
                    Плюс к этому нужно обязательно вести здоровый образ жизни. Занятие различными видами спорта, соблюдение режима сна и бодрствования, сбалансированное
                    питание, исключение стрессовых ситуаций – все это поможет улучшить самочувствие и уменьшить риск возникновения головной боли.
                </p>
                <p>
                    Для того чтобы кровеносные сосуды были эластичными, и их стенки сужались и расширялись так, как предусмотрено природой, можно также принимать препараты,
                    выводящие из организма токсины и оксиданты. О подборе лекарственного средства лучше проконсультироваться с лечащим врачом, он примет во внимание все
                    параметры вашего здоровья и сделает вывод относительно целесообразности назначения того или иного препарата.
                </p>
            </div>
            <div class="headache__text" data-article-id="article-10">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-10.jpg')"></div>
                </div>
                <br>
                <br>
                <p>
                    Для медикаментозного<a style="text-decoration: none;">**</a> лечения головной боли можно использовать несколько групп лекарственных средств.
                </p>
                <h3>
                    Нестероидные противовоспалительные препараты
                </h3>
                <p>
                    Самыми часто используемыми лекарствами среди населения остаются нестероидные противовоспалительные препараты. Они эффективны при неинтенсивной головной
                    боли. У различных средств болеутоляющий эффект может отличаться, поэтому в этой группе каждому пациенту может быть подобрано то средство, которое принесет
                    наибольшую пользу.
                </p>
                <h3>
                    Триптаны
                </h3>
                <p>
                    Триптаны - это группа специализированных противомигренозных рецептурных препаратов, которые оказывают свое действие через специфические рецепторы головного мозга. Эта группа препаратов эффективна как в начале приступа, так и в разгаре. При этом отмечена высокая эффективность триптанов при раннем приеме<a  style="text-decoration: none;">***</a>
                </p>
                <br><br>
                <p class=""><span id="fn_1">* Анализ стратегий фармакотерапии приступов мигрени, Табеева Г.Р. Справочник поликлинического врача №2- 2014</span><br>
                    <span id="fn_2">** Медикаментозное лечение головной боли должно назначаться только врачом.</span><br>
                    <span id="fn_3">*** Pascual J, Mateos V, Roig C, Sanchez–Del–Rio M, Jimenez D. Marketed oral triptans in the acute treatment of migraine: a systematic review on efficacy and tolerability.//Headache. 2007 Sep;47(8):1152–68.</span>
                </p>
            </div>
            <div class="headache__text" data-article-id="article-11">
                <div class="headache__photo-mobile">
                    <div class="section__ill" style="background-image: url('/images/articles/articles-11.jpg')"></div>
                </div>
                <br>
                <br>
                <p>
                    Главная задача, которая стоит перед врачом, - купирование боли. Если по объективным причинам выявить этиологию заболевания не удается, как при мигрени,
                    остается только симптоматическое лечение. А это значит, что при выборе методов физиотерапии нужно отдавать предпочтение таким, которые воздействуют либо на
                    сосуды головного мозга, либо на рецепторы, отвечающие за болевые ощущения.
                </p>
                <p>
                    Можно выделить такие наиболее эффективные методики:
                </p>
                <ul>
                    <li>
                        контрастный душ – благодаря ему удается воздействовать на сосуды и инициировать восстановление их нормальной функции;
                    </li>
                    <li>
                        электрофорез в области воротниковой зоны – можно вводить таким образом различные вещества, такие как новокаин, эуфиллин, седуксен, витамины группы В,
                        хлорид кальция и т. д.;
                    </li>
                    <li>
                        лазерная терапия – оказывает влияние на сосуды головного мозга;
                    </li>
                    <li>
                        дарсонвализация воротниковой зоны и головы;
                    </li>
                    <li>
                        амплипульстерапия – воздействие в области верхних шейных симпатических узлов приводит к изменению тонуса гладкой мускулатуры стенок сосудов;
                    </li>
                    <li>
                        диадинамотерапия и др.
                    </li>
                </ul>
                <br>
                <p>
                    Сочетание физиотерапевтических с другими методами лечения, в частности, приемом триптанов оказывается наиболее эффективным.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block baseSectionContent %}
<div class="headache__photo-desktop">
    <div class="section__ill" data-article-id="article-1" style="background-image: url('/images/articles/articles-1.jpg')"></div>
    <div class="section__ill" data-article-id="article-2" style="background-image: url('/images/articles/articles-2.jpg')"></div>
    <div class="section__ill" data-article-id="article-3" style="background-image: url('/images/articles/articles-3.jpg')"></div>
    <div class="section__ill" data-article-id="article-4" style="background-image: url('/images/articles/articles-4.jpg')"></div>
    <div class="section__ill" data-article-id="article-5" style="background-image: url('/images/articles/articles-5.jpg')"></div>
    <div class="section__ill" data-article-id="article-6" style="background-image: url('/images/articles/articles-6.jpg')"></div>
    <div class="section__ill" data-article-id="article-7" style="background-image: url('/images/articles/articles-7.jpg')"></div>
    <div class="section__ill" data-article-id="article-8" style="background-image: url('/images/articles/articles-8.jpg')"></div>
    <div class="section__ill" data-article-id="article-9" style="background-image: url('/images/articles/articles-9.jpg')"></div>
    <div class="section__ill" data-article-id="article-10" style="background-image: url('/images/articles/articles-10.jpg')"></div>
    <div class="section__ill" data-article-id="article-11" style="background-image: url('/images/articles/articles-11.jpg')"></div>
</div>
{% endblock %}


