{% set promoImg = false %}
{% set notShowCallToAction = true %}

{% set sectionTitleStrong = "Что нужно знать" %}
{% set sectionTitleLight = "о мигрени" %}
{% set description = "Аннотация к базе знаний и <br>статей по проблеме мигрени." %}


{% extends "pages/index/_section-slide.njk" %}

{% block slideContent %}
    <div class="scrollable-block">
        <div class="scrollable-block__content">
            {% set articles = [
                    {
                        id: 'article-1',
                        img: '/images/articles/articles-1.jpg',
                        title: 'Головная боль мышечного напряжения',
                        desc: 'Как правило, головная боль напряжения,
                                которую нужно дифференцировать от мигрени,
                                начинает беспокоить в вечернее время,
                                в конце рабочего дня. Боль может быть различной
                                интенсивности – от слабой до сильной, опоясывающей.'
                    },{
                        id: 'article-2',
                        img: '/images/articles/articles-2.jpg',
                        title: 'Мигрень',
                        desc: 'Головная боль может быть как отдельной нозологической единицей,
                                так и симптомом другого заболевания.
                                Важно выяснить причину приступа боли, тогда и лечение будет эффективным.'
                    },{
                        id: 'article-3',
                        img: '/images/articles/articles-3.jpg',
                        title: 'Ликвородинамическая головная боль',
                        desc: 'Ликвор или спинномозговая жидкость циркулирует внутри полостей, находящихся в головном и спинном мозге. Если нет преград и не нарушен его отток и всасывание, человек чувствует себя хорошо.'
                    },{
                        id: 'article-4',
                        img: '/images/articles/articles-4.jpg',
                        title: 'Основные причины головных болей',
                        desc: 'Причинами головных болей могут быть различные факторы. Например, при инфекционных заболеваниях, таких как фронтит, гайморит, болевые ощущения различной интенсивности могут быть одним из симптомов заболевания.'
                    },{
                        id: 'article-5',
                        img: '/images/articles/articles-5.jpg',
                        title: 'Галлюцинаторная головная боль или психалгия',
                        desc: 'В небольшом проценте случаев выявить каких-то объективных причин появления головной боли специалисту не удается. Тогда говорят о так называемой галлюцинаторной или фантомной боли.'
                    },{
                        id: 'article-6',
                        img: '/images/articles/articles-6.jpg',
                        title: 'Сосудистая головная боль',
                        desc: 'Сосудистая головная боль появляется тогда, когда нарушается система регуляции тонуса сосудов головного мозга. При пониженном артериальном давлении человек чувствует, как у него «бьется пульс в висках»'
                    },{
                        id: 'article-7',
                        img: '/images/articles/articles-7.jpg',
                        title: 'Рекомендации по питанию для пациентов с мигренью',
                        desc: 'Существует много пищевых продуктов, провоцирующих мигрень. Вызывать головную боль могут не только отдельные пищевые продукты, но и диета. Ограничение пищи, нерегулярный ее прием или питание в сухомятку могут привести к очередному приступу.'
                    },{
                        id: 'article-8',
                        img: '/images/articles/articles-8.jpg',
                        title: 'Народные методы борьбы с головной болью',
                        desc: 'Народные методы борьбы с головной болью можно разделить на несколько групп: траволечение, релаксация а также нетрадиционные методы'
                    },{
                        id: 'article-9',
                        img: '/images/articles/articles-9.jpg',
                        title: 'Профилактические средства',
                        desc: 'Чтобы предупредить развитие приступа головной боли, прежде всего, нужно исключить причинные факторы. К ним относятся курение, употребление алкоголесодержащих напитков.'
                    },{
                        id: 'article-10',
                        img: '/images/articles/articles-10.jpg',
                        title: 'Медикаментозные методы лечения боли',
                        desc: 'Самыми часто используемыми лекарствами среди населения остаются нестероидные противовоспалительные препараты. Они эффективны при неинтенсивной головной боли.'
                    },{
                        id: 'article-11',
                        img: '/images/articles/articles-11.jpg',
                        title: 'Физиотерапевтические методы лечения головной боли',
                        desc: 'Главная задача, которая стоит перед врачом, - купирование боли. Если по объективным причинам выявить этиологию заболевания не удается, как при мигрени, остается только симптоматическое лечение.'
                    }
                ] %}
            <ul class="headache__list js-articles-links">
                {% for article in articles %}
                    <li class="headache__list_item" data-article="{{ article.id }}">
                        <div class="headache__list-img-wrapper">
                            <div class="headache__list-img" style="background-image: url('{{ article.img }}')"></div>
                        </div>
                        <div class="headache__list_item_text">
                            <p class="headache__list_item_text--head">
                                {{ article.title }}
                            </p>
                            <p class="headache__list_item_text--desc">
                                {{ article.desc }}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


