{% set promoImg = "/images/section/promo/promo_knowleges.jpg" %}
{% set promoMobImg = "/images/section/promo/promo_knowleges_mobile.jpg" %}
{% set sectionTitleStrong = "Что нужно знать" %}
{% set sectionTitleLight = "о мигрени" %}
{% set description = "Аннотация к базе знаний и статей по проблеме мигрени." %}

{% set callToActionIcon = "/images/call-to-action-icon/icon-3.png" %}
{% set callToActionTitle = "все материалы" %}
{% set callToActionDescr = "База знаний по мигрени" %}


{% include "pages/index/_section-slide.njk" %}


